body{
    background-color:#0E3812;
}

.flash{
    text-align: center;
    padding: 10px; 
    background-color: #1C8B70;  
}

.flash >h1{
    color: orange;
    text-transform: uppercase;
}

.flash >p{
   font-size:18px;
}

.main{
    background-color:#8FDE64;
    text-align: center;
}

.here{
    color:blue;
    text-decoration: underline;
    cursor: pointer;
}

.list{
    color:blue;
    text-decoration: underline;
    cursor: pointer;
}
.show{
    display: none;
}
#listed{
    display: none;
    text-align: center;
}

ul{
    list-style-type: none;
}

.cl{ 
    padding: 10px; 
    background-color: #1C8B70;  
}
.close-page{   
        color:orange;
        text-decoration: underline;
        cursor: pointer;
    }

.footer{
    text-align: center;
    background-color:#8FDE64;
}
    
    
    
    